<h1>List of All Articles</h1>

<table>
    <thead>
    <!--reads content into a table row one by one, left to right-->
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>

    <tbody>
        <% @all_articles.each do |article| %>
            <tr>
                <td><%= article.title %></td>
                <td><%= article.description %></td>
                <td><%= link_to 'Show', article_path(article)%></td>
                <td><%= link_to 'Edit', edit_article_path(article)%></td>
                <td><%= link_to 'Delete', article_path(article), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this article?"} %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<p>
    <%= link_to 'Create a New Article', new_article_path%>
</p>